*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid_container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header header header"
        "sidebar grilla grilla grilla"
        "footer footer footer footer";

    grid-template-columns: 250px 1fr;
    grid-template-rows: 25px auto 25px;

    .header {
        color: white;
        grid-area: header;
        background-color: rgb(6, 6, 97);
        text-align: center  ;
        justify-content: center;
        
    }
    .sidebar {
        grid-area: sidebar;
        background-image: url(../imgs/fondosidebar.avif);
        

        div{
            padding: 10px;
            display: flex;
            min-height: auto;
            flex-direction: column;
            border-radius: 0;
            

            header {
                font-weight: bold;
            }

        }


    }
    .grilla {
        padding: 15px;
        display: grid;
        grid-area: grilla;
        grid-gap: 15px;
        background-color: #039790;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)) ;
        height: calc(100vh - 50px);
        overflow-y: auto;
        div{
            display: flex;
            flex-direction: column;
            background-color: aqua;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            height: 450px;

        }
    }
    .footer {

        color: white;
        grid-area: footer;
        background-color: rgb(6, 6, 97);
        text-align: center;
    }
}